html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%; }

*, *:after, *:before {
  box-sizing: border-box; }

input[type="submit"],
input[type="button"],
.btn {
  -webkit-appearance: none;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid #777;
  color: #777;
  background: white;
  padding: 5px 25px; }

a.btn {
  font-weight: normal;
  text-decoration: none;
  line-height: 1.2em; }
  a.btn:visited, a.btn:hover {
    text-decoration: none; }

input[type="text"] {
  border: 1px solid #777; }

.appheader {
  width: 100%;
  background: #393F4F;
  color: #EAEAEA;
  height: 40px;
  padding: 5px;
  padding-left: 50px; }

.appheader__column {
  float: left;
  height: 30px;
  line-height: 26px;
  font-weight: bold;
  font-size: 1em;
  margin-right: 25px;
  margin-left: 25px;
  border-right: 1px dotted #eaeaea; }
  .appheader__column:last-child {
    border-right: 0; }

.appheader__column-icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  display: inline-block; }

.appheader__column-content {
  width: 250px;
  height: 25px;
  margin-right: 15px;
  vertical-align: middle;
  display: inline-block; }

.appheader__column-input {
  font: inherit;
  vertical-align: middle;
  display: inline-block;
  background: #5B6378;
  color: #EAEAEA; }

.appheader__logo {
  padding: 2px 0;
  height: 100%;
  margin-right: 35px; }

.chatbox {
  float: left;
  clear: none;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
  height: 27px;
  position: absolute;
  right: 20px;
  bottom: 0;
  border: 1px solid #777;
  background: white;
  -webkit-transition: height 0.1s;
          transition: height 0.1s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .chatbox:last-child {
    margin-right: 0%; }
  .chatbox.chatbox--open {
    height: 500px; }
    .chatbox.chatbox--open .chatbox__body {
      display: block; }

.chatbox__header {
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #777;
  cursor: pointer;
  background: #393F4F;
  color: #EAEAEA; }
  .chatbox__header .chatbox__toggle_btn {
    display: block;
    width: 15px;
    height: 15px;
    background: #EAEAEA;
    color: #393F4F;
    font-size: 11px;
    padding: 2px 0 0 2px;
    float: right; }

.chatbox__messages-wrap {
  height: 413px;
  overflow: scroll;
  display: block;
  position: relative; }

.chatbox__body {
  display: none; }

.chatbox__messages {
  padding: 0 7px;
  position: absolute;
  bottom: 0;
  width: 100%; }

.chatbox__message {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #777;
  margin-bottom: 5px;
  width: 80%;
  float: left;
  -webkit-transition: all 0.2s;
          transition: all 0.2s; }
  .chatbox__message.chatbox__message--own {
    text-align: right;
    float: right; }

.chatbox__message-author {
  display: block;
  text-align: inherit;
  font-size: 0.75em;
  color: #777; }

.chatbox__message-text {
  display: block;
  text-align: inherit;
  font-size: 1.125em;
  font-weight: bold; }

.chatbox__inputform {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  padding: 7px;
  font-size: 1em;
  border-top: 1px solid #777; }

.chatbox__messagefield {
  font-family: inherit;
  font-style: inherit;
  margin-right: 10px;
  height: 35px;
  vertical-align: middle;
  display: inline-block;
  padding: 4px;
  font-size: 1em;
  width: 75%;
  width: calc(75% - 10px); }

.chatbox__sendbtn {
  width: 25%;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  padding: 5px 3px !important; }

.board {
  width: 100%;
  height: 800px;
  border: 1px solid #999;
  overflow: hidden; }

.toolbox {
  position: absolute;
  z-index: 1;
  width: 60px;
  margin-top: 2em;
  margin-left: 1em;
  padding: 10px;
  background: #5B6378;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.toolbox__tools {
  overflow: hidden; }

.toolbox__section {
  margin-top: 2em; }
  .toolbox__section:first-child {
    margin-top: 0; }

.toolbox__tool {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #cfcfcf;
  background: #efefef;
  cursor: pointer;
  -webkit-transition: background 0.1s;
          transition: background 0.1s; }
  .toolbox__tool:hover {
    background: #fcfcfc; }
  .toolbox__tool.toolbox__tool--selected {
    background: #cfcfcf; }
  .toolbox__tool.toolbox__tool--disabled {
    color: #afafaf;
    cursor: default; }

.toolbox__tool-icon {
  font-size: 1.4em;
  display: inline-block;
  margin-top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }

.toolbox__numeric-input {
  width: 100%;
  font: inherit; }

.colorpicker {
  position: relative; }

.colorpicker__swatch {
  width: 40px;
  height: 40px;
  border: 2px solid #333;
  cursor: pointer; }

.colorpicker__selector {
  position: absolute;
  top: 0;
  left: 40px;
  padding: 5px;
  border: 1px solid #333;
  width: 252px;
  height: 212px;
  display: none; }
  .colorpicker__selector.colorpicker__selector--open {
    display: block; }

/**
 * react-color-picker
 */
.cp {
  display: block;
  width: 240px;
  height: 200px;
  position: absolute;
  background: #eaeaea; }

.cp-saturation-spectrum,
.cp-hue-spectrum {
  position: relative;
  display: inline-block; }

.cp-saturation-white,
.cp-saturation-black {
  position: relative;
  width: 100%;
  height: 100%; }

.cp-saturation-white {
  background: -webkit-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
  background: linear-gradient(to right, #fff, rgba(204, 154, 129, 0)); }

.cp-saturation-black {
  background: -webkit-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
  background: linear-gradient(to top, #000, rgba(204, 154, 129, 0)); }

.cp-saturation-spectrum {
  cursor: pointer; }

.cp-saturation-spectrum .cp-saturation-drag {
  display: none;
  border: 1px solid #fff;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  left: 0px; }

.cp-saturation-spectrum .cp-saturation-drag .inner {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 10px; }

.cp-hue-spectrum {
  background: -webkit-linear-gradient(top, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
  background: linear-gradient(to bottom, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
  cursor: pointer; }

.cp-hue-spectrum .cp-hue-drag {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border: 1px solid #000; }

.invite-box {
  position: relative;
  display: inline-block;
  color: #333;
  text-align: center; }
  .invite-box input[type="button"] {
    margin-right: 45px; }
  .invite-box.invite-box--prompt-open .invite-box__prompt {
    display: block; }

.invite-box__prompt {
  position: absolute;
  border: 2px solid #333;
  padding: 10px;
  width: 200px;
  background: #EAEAEA;
  display: none; }
  .invite-box__prompt input[type="email"] {
    font-size: 1em;
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 0.5em; }
  .invite-box__prompt input[type="submit"] {
    width: 100%; }
