.appheader {
  width: 100%;

  background: $color-primary;
  color: $color-white-2;

  height: 40px;

  padding: 5px;
  padding-left: 50px;
}

.appheader__column {
  float: left;

  height: 30px;
  line-height: 26px;

  font-weight: bold;
  font-size: 1em;

  margin-right: 25px;
  margin-left: 25px;

  border-right: 1px dotted #eaeaea;

  &:last-child {
    border-right: 0;
  }
}

.appheader__column-icon {
  width: 25px;
  height: 25px;
  
  vertical-align: middle;

  display: inline-block;
}

.appheader__column-content {
  width: 250px;
  height: 25px;

  margin-right: 15px;
  vertical-align: middle;

  display: inline-block;
}

.appheader__column-input {
  font: inherit;
  
  vertical-align: middle;
  display: inline-block;

  background: $color-secondary;
  color: $color-white-2;
}

.appheader__logo {
  padding: 2px 0;
  height: 100%;
  margin-right: 35px;
}