.chatbox {
  @include col(1/5, 0, 0, 0, 0);

  height: 27px;

  position: absolute;

  right: 20px;
  bottom: 0;

  border: 1px solid #777;

  background: white;

  transition: height 0.1s;

  @include noselect();

  &.chatbox--open {
    height: 500px;

    .chatbox__body {
      display: block;
    }
  }
}

.chatbox__header {
  width: 100%;
  padding: 5px;

  border-bottom: 1px solid #777;

  cursor: pointer;

  background: $color-primary;
  color: $color-white-2;

  .chatbox__toggle_btn {
    display: block;

    width: 15px;
    height: 15px;

    background: $color-white-2;
    color: $color-primary;

    font-size: 11px;
    padding: 2px 0 0 2px;

    float: right;
  }
}

.chatbox__messages-wrap {
  height: 500px - 87px;
  overflow: scroll;

  display: block;
  position: relative;
}

.chatbox__body {
  display: none;
}

.chatbox__messages {
  padding: 0 7px;

  position: absolute;
  bottom: 0;

  width: 100%;
}

.chatbox__message {
  padding: 5px;
  border-radius: 5px;

  border: 1px solid #777;

  margin-bottom: 5px;
  width: 80%;

  float: left;

  transition: all 0.2s;

  &.chatbox__message--own {
    text-align: right;
    float: right;
  }
}

.chatbox__message-author {
  display: block;
  text-align: inherit;

  font-size: 0.75em;
  color: #777;
}

.chatbox__message-text {
  display: block;
  text-align: inherit;

  font-size: 1.125em;
  font-weight: bold;
}

.chatbox__inputform {
  position: absolute;
  bottom: 0;
  height: 50px;

  width: 100%;
  padding: 7px;

  font-size: 1em;

  border-top: 1px solid #777;
}

.chatbox__messagefield {
  font-family: inherit;
  font-style: inherit;

  margin-right: 10px;
  
  height: 35px;
  vertical-align: middle;

  display: inline-block;

  padding: 4px;
  font-size: 1em;

  width: 75%;
  width: calc(75% - 10px);
}

.chatbox__sendbtn {
  width: 25%;
  height: 35px;

  display: inline-block;
  vertical-align: middle;

  padding: 5px 3px !important;
}