.colorpicker {
  position: relative;

}

.colorpicker__swatch {
  width: 40px;
  height: 40px;

  border: 2px solid #333;

  cursor: pointer;
}

.colorpicker__selector {
  position: absolute;
  top: 0;
  left: 40px;

  padding: 5px;
  border: 1px solid #333;

  width: 252px;
  height: 212px;

  display: none;

  &.colorpicker__selector--open {
    display: block;
  }
}

/**
 * react-color-picker
 */

.cp {
  display: block;
  width: 240px;
  height: 200px;

  position: absolute;

  background: #eaeaea;
}

.cp-saturation-spectrum,
.cp-hue-spectrum {
  position: relative;
  display: inline-block;
}
.cp-saturation-white,
.cp-saturation-black {
  position: relative;
  width: 100%;
  height: 100%;
}
.cp-saturation-white {
  background: linear-gradient(to right, #fff, rgba(204,154,129,0));
}
.cp-saturation-black {
  background: linear-gradient(to top, #000, rgba(204,154,129,0));
}
.cp-saturation-spectrum {
  cursor: pointer;
}
.cp-saturation-spectrum .cp-saturation-drag {
  display: none;
  border: 1px solid #fff;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.cp-saturation-spectrum .cp-saturation-drag .inner {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 10px;
}
.cp-hue-spectrum {
  background: linear-gradient(to bottom, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
  cursor: pointer;
}
.cp-hue-spectrum .cp-hue-drag {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border: 1px solid #000;
}