.invite-box {
  position: relative;

  display: inline-block;

  color: #333;
  text-align: center;

  input[type="button"] { margin-right: 45px; }

  &.invite-box--prompt-open {
    .invite-box__prompt {
      display: block;
    }
  }
}

.invite-box__prompt {
  position: absolute;

  border: 2px solid #333;

  padding: 10px;

  width: 200px;
  // height: 100px;

  background: $color-white-2;

  display: none;

  input[type="email"] {
    font-size: 1em;
    padding: 5px 10px;

    width: 100%;
    margin-bottom: 0.5em;
  }

  input[type="submit"] {
    width: 100%;
  }
}