.toolbox {
  // @include col(1/16, 0, 0, 0, 0)
  position: absolute;

  z-index: 1;

  width: 60px;
  margin-top: 2em;
  margin-left: 1em;

  padding: 10px;

  background: $color-secondary;

  @include noselect;
}

.toolbox__tools {
  overflow: hidden;
}

.toolbox__section {
  margin-top: 2em;

  &:first-child {
    margin-top: 0;
  }
}

.toolbox__tool {
  width: 40px;
  height: 40px;

  // padding: 6px 0 0 0;
  text-align: center;

  border: 1px solid #cfcfcf;
  background: #efefef;

  cursor: pointer;

  transition: background 0.1s;

  &:hover {
    background: #fcfcfc;
  }

  &.toolbox__tool--selected {
    background: #cfcfcf;
  }

  &.toolbox__tool--disabled {
    // background: #666;
    color: #afafaf;

    cursor: default;
  }
}

.toolbox__tool-icon {
  font-size: 1.4em;

  display: inline-block;
  margin-top: 50%;
  transform: translate(0, -50%);
}

.toolbox__numeric-input {
  width: 100%;

  font: inherit;
}