/**
 * RECOMMENDED STYLES
 */
.colorpicker {
  color: #fff;
  background: #333;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .colorpicker .map {
    display: block;
    position: absolute;
    top: 25px;
    bottom: 56px;
    left: 56px;
    right: 181px;
    position: absolute;
    user-select: none;
    overflow: hidden; }
    .colorpicker .map.active {
      cursor: none; }
    .colorpicker .map.dark .pointer {
      border-color: #fff; }
    .colorpicker .map.light .pointer {
      border-color: #000; }
    .colorpicker .map .pointer {
      position: absolute;
      width: 10px;
      height: 10px;
      margin-left: -5px;
      margin-top: -5px;
      border-radius: 100%;
      border: 1px solid #000; }
    .colorpicker .map .background {
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%; }
    .colorpicker .map .background:before,
    .colorpicker .map .background:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
    .colorpicker .map .background:after {
      background: linear-gradient(to bottom, transparent 0%, black 100%); }
    .colorpicker .map .background:before {
      background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%); }
  .colorpicker .slider {
    position: absolute;
    user-select: none; }
    .colorpicker .slider.vertical {
      top: 0;
      bottom: 0;
      left: 50%;
      width: 10px;
      cursor: ns-resize; }
      .colorpicker .slider.vertical .track {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 6px;
        margin-left: -3px; }
    .colorpicker .slider.horizontal {
      left: 0;
      right: 0;
      top: 50%;
      height: 10px;
      cursor: ew-resize; }
      .colorpicker .slider.horizontal .track {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 6px;
        margin-top: -3px; }
    .colorpicker .slider .track {
      border-radius: 3px;
      background: #888; }
    .colorpicker .slider .pointer {
      position: absolute;
      bottom: 50%;
      left: 50%;
      width: 14px;
      height: 14px;
      background: #ddd;
      margin-left: -7px;
      margin-bottom: -7px;
      border-radius: 14px; }
  .colorpicker .sat-slider {
    display: block;
    position: absolute;
    top: auto;
    bottom: 33px;
    left: 56px;
    right: 181px; }
  .colorpicker .light-slider {
    display: block;
    position: absolute;
    top: 25px;
    bottom: 56px;
    left: 23px;
    right: auto; }
  .colorpicker .hue-slider {
    display: block;
    position: absolute;
    top: 25px;
    bottom: 56px;
    left: auto;
    right: 158px; }
    .colorpicker .hue-slider .track {
      background: linear-gradient(to bottom, #FF0000 0%, #FF0099 10%, #CD00FF 20%, #3200FF 30%, #0066FF 40%, #00FFFD 50%, #00FF66 60%, #35FF00 70%, #CDFF00 80%, #FF9900 90%, #FF0000 100%); }
  .colorpicker .sample {
    display: block;
    position: absolute;
    top: 25px;
    bottom: auto;
    left: auto;
    right: 25px;
    width: 100px;
    height: 100px; }
    .colorpicker .sample .current {
      height: 50%; }
    .colorpicker .sample .origin {
      height: 50%; }
  .colorpicker .details {
    display: block;
    position: absolute;
    top: 140px;
    bottom: 0;
    left: auto;
    right: 25px;
    width: 100px;
    overflow: hidden; }
    .colorpicker .details ul {
      padding: 0;
      margin: 0 0 20px 0; }
      .colorpicker .details ul li {
        list-style-type: none; }
    .colorpicker .details label {
      display: inline-block;
      color: #888;
      width: 15px;
      margin-right: 5px;
      text-align: right; }
    .colorpicker .details input {
      width: 74px;
      text-transform: uppercase;
      background: none;
      border-radius: 3px;
      border: none;
      outline: none;
      color: #ccc;
      background: rgba(0, 0, 0, 0.1); }
      .colorpicker .details input:focus {
        color: #333;
        background: rgba(255, 255, 255, 0.9); }
