input[type="submit"],
input[type="button"],
.btn {
  -webkit-appearance: none;

  display: inline-block;

  font-family: inherit;
  font-size: inherit;

  border: 2px solid #777;
  color: #777;

  background: white;
  padding: 5px 25px;
}

a.btn {
  font-weight: normal;
  text-decoration: none;

  line-height: 1.2em;

  &:visited, &:hover {
    text-decoration: none;
  }
}

input[type="text"] {
  border: 1px solid #777;
}